@import "./mixens.scss";

@keyframes up-down {
    from {
        margin-top: 1.5em;
    }

    to {
        margin-top: -1.5em;
    }
}

@keyframes appearence {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Tilt Neon", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Helvetica, sans-serif;
    color: white;
    list-style: none;
    border-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 1500px;

    background : {
        image: url("../assets/img/banner-bg.png");
        repeat: no-repeat;
        position: top;
        color: black;
    }
}

// Header Styles
header {
    width: 100%;
    height: 4em;
    transition-property: height, background-color, top;
    transition-duration: 0.3s, 0.4s, 0.3s;
    overflow: hidden;
    position: fixed;
    top: 1em;
    left: 0;
    right: 0;

    padding : {
        left: 6%;
        right: 6%;
    }

    .upperDiv {
        @include flex(space-between);
        height: 4em;

        .name {
            width: fit-content;

            h1 {
                font-size: 1.5em;
                font-weight: bold;
                text-transform: uppercase;
            }
        }

        .list-div {
            width: fit-content;

            img {
                width: 50px;
                transition-property: rotate;
                transition-duration: 0.3s;
            }
        }
    }

    .listItems {
        width: 100%;
        height: fit-content;

        ul li {
            margin-top: 1.3em;
            font-size: 1.1em;
            font-weight: bold;
            letter-spacing: 1px;
            margin-left: 1.2em;
            color: rgb(201, 201, 201);
        }

        ul li:hover {
            color: white;
        }

        ul li.active {
            color: white;
        }

        div.container {
            width: 100%;
            height: 2.3em;
            margin-top: 1.3em;
            @include flex(space-around);

            padding: {
                left: 30%;
                right: 30%;
            }

            a div {
                width: 2.3em;
                height: 2.3em;
                border-radius: 50%;
                border: solid white 1px;
                background-color: rgba($color: #8b8b8b, $alpha: 0.2);
                @include flex(space-around);

                img {
                    width: 55%;
                }
            }

            a div:hover {
                background-color: transparent;
            }

            a div::before {
                content: "";
                width: 0em;
                height: 0em;
                position: absolute;
                z-index: -1;
                border-radius: 50%;
                transition: width 0.4s, height 0.4s;
            }

            a div:hover::before {
                width: 2.3em;
                height: 2.3em;
                background-color: white;
            }
        }

        button {
            width: 10em;
            height: 3em;
            background-color: transparent;
            border: white solid 1px;
            @include marginAuto;
            display: block;
            margin-top: 1.3em;
            cursor: pointer;
            font-size: 0.9em;
            font-weight: bold;
            background: linear-gradient(to left, rgba(0, 0, 0, 0) 50%, white 50%) right;
            background-size: 200%;
            transition: .3s ease-in;
        }

        button:hover {
            background-position: left;
            color: black;
        }
    }
}

// Home page Style
section#home {
    width: 100%;
    height: fit-content;

    padding : {
        top: 15em;
        left: 6%;
        right: 6%;
    }

    div.left-side {
        width: 100%;
        height: fit-content;

        padding: {
            top: 1em;
            bottom: 1em;
        }

        div.container-1 {
            width: fit-content;
            height: fit-content;
            border: 0.8px solid rgb(219, 219, 219);
            padding: 0.5em 1em;
            letter-spacing: 0.5px;
            background-image: linear-gradient(to right, rgba(117, 30, 134, 0.4), rgba(153, 0, 255, 0.4));

            font: {
                size: 1.3em;
                weight: bold;
            }
        }

        span.text-container {
            width: fit-content;
            height: fit-content;
            display: block;
            margin-top: 2em;
            .animated-text {
                font-size: 2.8em;
                font-weight: 900;
            }
            span.dash {
                font-size: 4em;
                font-weight: 900;
                animation: appearence 0.5s infinite alternate-reverse;
            }
        }

        p {
            width: 80%;

            font: {
                size: 0.9em;
                weight: 100;
            }

            color: rgb(146, 146, 146);
            line-height: 1.5em;
            margin-top: 1em;
        }

        div.container-2 {
            width: fit-content;
            height: 2em;
            margin-top: 2em;
            cursor: pointer;
            @include flex(space-between);

            padding: {
                top: 0.6em;
                bottom: 0.6em;
            }

            a {
                font-size: 1.3em;
                font-weight: 300;
                letter-spacing: 1px;
                text-transform: capitalize;
            }

            img {
                width: 1.5em;
                margin-left: 1em;
            }
        }

        div.container-2:hover img {
            margin-left: 1.5em;
            transition: margin-left 0.3s;
        }
    }

    div.right-side {
        width: 100%;
        height: fit-content;
        @include flex(center);

        padding: {
            top: 1em;
            bottom: 1em;
        }

        img {
            width: 90%;
            animation: up-down 1.2s infinite alternate-reverse;
        }
    }
}

@media screen and (min-width: 768px) {
    header {
        @include flex(space-between);
        padding: 0 7%;
        height: 4em;

        .upperDiv .name h1 {
            font-size: 1.3em;
        }

        .listItems {
            width: 70%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            ul {
                width: 40%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                li {
                    margin: 0;
                }
            }

            div.container {
                padding: 0;
                margin: 0 0 0 1em;
                width: 23%;
            }

            button {
                margin: 0;
            }
        }
    }

    section#home {
        @include flex(space-between);
        padding-left: 7%;
        padding-top: 15em;

        div.left-side {
            width: 50%;

            span.animated-text {
                font-size: 3em;
            }

            div.container-2 {
                margin-top: 3em;
            }
        }

        div.right-side {
            width: 50%;
            position: absolute;
            left: 50%;
            z-index: -1;

            img {
                width: 75%;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    header {
        justify-content: space-between;
        padding: 0 8%;

        .upperDiv .name h1 {
            font-size: 1.8em;
        }

        .listItems {
            width: 62%;

            button {
                margin: 0;
                width: 11.8em;
            }
        }
    }

    section#home {
        padding-left: 8%;
        padding-top: 10em;

        div.left-side {
            span.animated-text {
                font-size: 3.5em;
            }

            div.container-2 {
                margin-top: 5em;
            }
        }

        div.right-side {
            img {
                width: 70%;
            }
        }
    }
}