@keyframes up-down {
  from {
    margin-top: 1.5em;
  }
  to {
    margin-top: -1.5em;
  }
}
@keyframes appearence {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes to-left {
  from {
    margin-left: 30em;
  }
  to {
    margin-left: 0;
  }
}
@keyframes to-right {
  from {
    margin-left: -30em;
  }
  to {
    margin-left: 0;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Tilt Neon", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif, Helvetica, sans-serif;
  color: white;
  list-style: none;
  border-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 1500px;
  background-image: url("../assets/img/banner-bg.png");
  background-repeat: no-repeat;
  background-position: top;
  background-color: black;
}

header {
  width: 100%;
  height: 4em;
  transition-property: height, background-color, top;
  transition-duration: 0.3s, 0.4s, 0.3s;
  overflow: hidden;
  position: fixed;
  top: 1em;
  left: 0;
  right: 0;
  padding-left: 6%;
  padding-right: 6%;
}
header .upperDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4em;
}
header .upperDiv .name {
  width: -moz-fit-content;
  width: fit-content;
}
header .upperDiv .name h1 {
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
}
header .upperDiv .list-div {
  width: -moz-fit-content;
  width: fit-content;
}
header .upperDiv .list-div img {
  width: 50px;
  transition-property: rotate;
  transition-duration: 0.3s;
}
header .listItems {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
header .listItems ul li {
  margin-top: 1.3em;
  font-size: 1.1em;
  font-weight: bold;
  letter-spacing: 1px;
  margin-left: 1.2em;
  color: rgb(201, 201, 201);
}
header .listItems ul li:hover {
  color: white;
}
header .listItems ul li.active {
  color: white;
}
header .listItems div.container {
  width: 100%;
  height: 2.3em;
  margin-top: 1.3em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 30%;
  padding-right: 30%;
}
header .listItems div.container a div {
  width: 2.3em;
  height: 2.3em;
  border-radius: 50%;
  border: solid white 1px;
  background-color: rgba(139, 139, 139, 0.2);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .listItems div.container a div img {
  width: 55%;
}
header .listItems div.container a div:hover {
  background-color: transparent;
}
header .listItems div.container a div::before {
  content: "";
  width: 0em;
  height: 0em;
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  transition: width 0.4s, height 0.4s;
}
header .listItems div.container a div:hover::before {
  width: 2.3em;
  height: 2.3em;
  background-color: white;
}
header .listItems button {
  width: 10em;
  height: 3em;
  background-color: transparent;
  border: white solid 1px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 1.3em;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  background: linear-gradient(to left, rgba(0, 0, 0, 0) 50%, white 50%) right;
  background-size: 200%;
  transition: 0.3s ease-in;
}
header .listItems button:hover {
  background-position: left;
  color: black;
}

section#home {
  width: 100%;
  height: 950px;
  padding-top: 15em;
  padding-left: 6%;
  padding-right: 6%;
}
section#home div.left-side {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 1em;
  padding-bottom: 1em;
}
section#home div.left-side div.container-1 {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 0.8px solid rgb(219, 219, 219);
  padding: 0.5em 1em;
  letter-spacing: 0.5px;
  background-image: linear-gradient(to right, rgba(117, 30, 134, 0.4), rgba(153, 0, 255, 0.4));
  font-size: 1.3em;
  font-weight: bold;
}
section#home div.left-side span.text-container {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: block;
  margin-top: 2em;
}
section#home div.left-side span.text-container .animated-text {
  font-size: 2.6em;
  font-weight: 900;
}
section#home div.left-side span.text-container span.dash {
  font-size: 4em;
  font-weight: 900;
  animation: appearence 0.5s infinite alternate-reverse;
}
section#home div.left-side p {
  width: 80%;
  color: rgb(146, 146, 146);
  font-size: 0.9em;
  font-weight: 100;
  line-height: 1.5em;
  margin-top: 1em;
}
section#home div.left-side div.container-2 {
  width: -moz-fit-content;
  width: fit-content;
  height: 2em;
  margin-top: 2em;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}
section#home div.left-side div.container-2 a {
  font-size: 1.3em;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: capitalize;
}
section#home div.left-side div.container-2 img {
  width: 1.5em;
  margin-left: 1em;
}
section#home div.left-side div.container-2:hover img {
  margin-left: 1.5em;
  transition: margin-left 0.3s;
}
section#home div.right-side {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
}
section#home div.right-side img {
  width: 90%;
  animation: up-down 1.2s infinite alternate-reverse;
}

section#skills {
  width: 92%;
  height: 950px;
  margin-top: 17em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5em;
  background-color: #151515;
  border-top-right-radius: 4em;
  border-top-left-radius: 4em;
}
section#skills h1 {
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  font-size: 3em;
}
section#skills p {
  width: 90%;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  color: rgb(146, 146, 146);
  font-size: 0.9em;
  font-weight: 100;
  line-height: 1.5em;
}
section#skills .outer-container {
  width: 85%;
  height: 300px;
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow-x: hidden;
}
section#skills .outer-container .left-arrow, section#skills .outer-container .right-arrow {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
section#skills .outer-container .left-arrow img, section#skills .outer-container .right-arrow img {
  width: 0.8em;
}
section#skills .outer-container .left-arrow img {
  margin-left: -3px;
}
section#skills .outer-container .right-arrow img {
  margin-left: 3px;
}
section#skills .outer-container .inner-container {
  width: 80%;
  height: 90%;
  overflow-x: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
section#skills .outer-container .inner-container .small-container {
  animation: none;
  width: 90%;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  margin-left: 0em;
  transition: margin-left 0.6s, display 0.3s;
}
section#skills .outer-container .inner-container .small-container div {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  background-image: url("../assets/img/percentage.png");
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
section#skills .outer-container .inner-container .small-container div h1 {
  font-size: 1.5em;
  font-weight: bold;
}
section#skills .outer-container .inner-container .small-container h3 {
  margin-top: 1em;
  font-size: 1.5em;
  font-weight: bold;
}
section#skills .outer-container .inner-container .none {
  display: none;
  width: 90%;
  transition: margin-left 0.6s, display 0.3s;
}

@media screen and (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6%;
    height: 4em;
  }
  header .upperDiv .name h1 {
    font-size: 1.3em;
  }
  header .listItems {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .listItems ul {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .listItems ul li {
    margin: 0;
  }
  header .listItems div.container {
    padding: 0;
    margin: 0 0 0 1em;
    width: 23%;
  }
  header .listItems button {
    margin: 0;
  }
  section#home {
    height: 716px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 7%;
    padding-top: 15em;
  }
  section#home div.left-side {
    width: 50%;
  }
  section#home div.left-side span.text-container {
    margin-top: 1em;
  }
  section#home div.left-side span.text-container .animated-text {
    font-size: 2.7em;
  }
  section#home div.left-side span.text-container span.dash {
    font-size: 4em;
  }
  section#home div.left-side div.container-2 {
    margin-top: 3em;
  }
  section#home div.right-side {
    width: 50%;
    position: absolute;
    left: 50%;
    z-index: -1;
  }
  section#home div.right-side img {
    width: 75%;
  }
}
@media screen and (min-width: 1024px) {
  header {
    justify-content: space-between;
    padding: 0 8%;
  }
  header .upperDiv .name h1 {
    font-size: 1.8em;
  }
  header .listItems {
    width: 62%;
  }
  header .listItems button {
    margin: 0;
    width: 11.8em;
  }
  section#home {
    height: 716px;
    padding-left: 8%;
    padding-top: 15em;
  }
  section#home div.left-side {
    width: 60%;
  }
  section#home div.left-side span.text-container {
    margin-top: 0em;
  }
  section#home div.left-side span.text-container .animated-text {
    font-size: 4.5em;
  }
  section#home div.left-side span.text-container span.dash {
    font-size: 4em;
  }
  section#home div.left-side div.container-2 {
    margin-top: 5em;
  }
  section#home div.right-side {
    width: 40%;
    left: 60%;
  }
  section#home div.right-side img {
    width: 80%;
  }
}/*# sourceMappingURL=style.css.map */